@font-face {
  font-family: cocogoose;
  src: url('../fonts/cocogoose-pro-light-trial.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/** HEADER AND NAVBAR */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

ul {
  list-style-type: none;
}

.card-description > a {
  text-decoration: none;
  color: #ff753e;
}

.first-nav {
  background: #444;
  justify-content: flex-end;
  padding: 0.5rem;
  display: none;
}

.conference-email > a {
  color: #272a31;
  font-weight: 900;
  text-decoration: none;
  border-bottom: 1px solid #272a31;
}

.second-nav-ul-links > li > a {
  color: #555;
  text-decoration: none;
  transition: color 300ms;
}

.mobile-menu-nav {
  display: none;
}

.mobile-menu-icons > li > a {
  color: #000;
  text-decoration: none;
}

.mobile-menu > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.first-nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.brands-nav {
  display: flex;
}

.brands-nav > li {
  margin: 0 0.3rem;
}

.fa-facebook {
  border-radius: 50%;
  padding: 0.1rem;
  transition: color 0.5s, background 0.5s;
}

.fa-facebook:hover {
  color: #4267b2;
  background: #fff;
}

.fa-twitter {
  border-radius: 50%;
  padding: 0.1rem;
  transition: color 0.5s, background 0.5s;
}

.fa-twitter:hover {
  color: #1ad1d2;
  background: #fff;
}

.fa-youtube {
  border-radius: 50%;
  padding: 0.1rem;
  transition: color 0.5s, background 0.5s;
}

.fa-youtube:hover {
  color: #f00;
  background: #fff;
}

.nav-links {
  display: flex;
}

.nav-links > li {
  margin: 0 0.3rem;
}

.second-nav {
  justify-content: space-around;
  display: none;
}

footer > img {
  height: 7rem;
  margin: 0 auto;
}

.main-work-card > img {
  height: 64px;
  width: 64px;
}

.featured-card > img {
  height: 100px;
  width: 100px;
  align-self: center;
}

.partners-container > img {
  width: 14rem;
  margin: 1rem 0.5rem;
  border: 1px solid #999;
  padding: 1rem;
  border-radius: 15px;
  transition: background 1s;
}

.past-container > img {
  margin: 1rem 1rem 5rem 1rem;
  transition: transform 0.5s;
  width: 85%;
}

.second-nav-ul-icon > li > a > img {
  height: 5rem;
}

.second-nav-ul-links {
  display: flex;
  align-items: center;
}

.second-nav-ul-links > li {
  margin: 0 1rem;
  transition: transform 300ms;
}

.mobile-menu-icons > li {
  margin: 0.5rem;
}

.mobile-menu > li {
  margin: 1rem;
}

.second-nav-ul-links > li:hover {
  transform: translateY(-4px);
}

.second-nav-ul-links > li > a:hover {
  color: #f00;
}

.fa-bars {
  color: #ff4800;
}

.fa-circle-xmark {
  color: #ff4800;
}

.open-menu-btn {
  position: fixed;
  top: 0.3rem;
  left: 1rem;
}

.mobile-menu-icons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #979797eb;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

/** HEADLINE */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 3rem 1rem;
  justify-content: flex-start;
  background-image: url('../images/mobile_intro_bg.png');
  background-position: center;
  background-size: contain;
}

.about-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 3rem 1rem;
  justify-content: flex-start;
  background-image: url('../images/mobile_intro_bg.png');
  background-position: center;
  background-size: contain;
}

.headline > h1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.about-headline > h1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.title1 {
  font-family: 'cocogoose', sans-serif;
  color: #ff4800;
  margin: 1rem 0;
  font-size: 20px;
}

.title1-about {
  font-family: 'cocogoose', sans-serif;
  color: #ff4800;
  margin: 1rem 0;
  font-size: 20px;
}

.title2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 52px;
  margin: 1rem 0;
  background-image: url('../images/firered.jpg');
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
}

.title2-about {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 52px;
  margin: 1rem 0;
  background-image: url('../images/firered.jpg');
  background-size: 200%;
  -webkit-background-clip: text;
  color: #f30;
}

.event-description {
  border: 1px solid #aeaeae;
  margin: 1rem auto;
  padding: 1rem;
  background: #f0f0f0e6;
  box-shadow: 1px 1px 14px 2px #999;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: center;
}

.description-question {
  font-size: 19px;
  color: #ff4800;
  border-bottom: 1px solid #ff4800;
  transition: background 0.5s, color 0.5s;
}

.description-question:hover {
  background: #ff4800;
  color: #fff;
}

.subtitle > h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #525252;
  font-size: 2.2em;
  margin: 1rem 0;
}

.copyright {
  font-size: 14px;
  color: #555;
}

.conference-email {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

/** MAIN WORK SECTION  */

.main-work {
  background-image: url('../images/pattern_bg.png');
  background-color: #272a31;
}

.main-work-title {
  color: #efefef;
  font-size: 2.3em;
  font-family: 'cocogoose', sans-serif;
  text-align: center;
  padding: 1rem;
}

.main-work-line {
  height: 1px;
  width: 20%;
  background: #ff4800;
  margin: 1rem auto;
}

.main-work-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main-work-card {
  display: flex;
  margin-bottom: 1rem;
  background: #5c5d6163;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-family: 'Lato', sans-serif;
  transition: transform 300ms, outline 0.5s;
}

.main-work-card:hover {
  transform: scale(1.04);
  outline: 1px solid #ff4800;
}

.main-work-card:active {
  transform: scale(1.04);
  outline: 1px solid #ff4800;
}

.main-work-card:focus {
  transform: scale(1.04);
  outline: 1px solid #ff4800;
}

.card-title {
  color: #ff4800;
  font-weight: 600;
  margin: 1rem;
}

.card-description {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.main-work-button {
  outline: none;
  border: none;
  margin: 1rem auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #ec5a41;
  transition: background 300ms;
}

.main-work-button:hover {
  background-color: #f30;
  cursor: pointer;
}

.main-work-button:active {
  background-color: #ff1e00;
}

.main-work-button:focus {
  background-color: #ff1e00;
}

/** FEATURED SECTION */
.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.featured-title {
  color: #555;
  font-size: 2.3em;
  font-family: 'cocogoose', sans-serif;
  text-align: center;
  padding: 1rem;
}

.featured-card {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  transition: transform 300ms, outline 300ms;
}

.featured-card:hover {
  transform: scale(1.03);
  outline: 1px solid #f30;
}

.featured-content {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person-name {
  font-size: 1.4em;
  font-weight: 900;
}

.person-ocupation {
  color: #f30;
  font-weight: 600;
  font-style: italic;
}

.featured-divisor {
  height: 1px;
  background: #f30;
  width: 15%;
  margin: 1rem 0;
}

.featured-btn-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.more-btn {
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  background: #fff;
  border: 1px solid #f30;
  font-weight: 600;
  transition: background 300ms, color 300ms;
}

.more-btn:hover {
  background: #f30;
  color: #fff;
  cursor: pointer;
}

.fa-chevron-down {
  color: #000;
  margin: 0 0.5rem;
}

/** LOGO SECTION */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section-title {
  font-size: 2.2em;
  margin: 3rem auto 1rem auto;
  width: 60%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #444;
}

.line {
  width: 4rem;
  height: 1px;
  margin: 0 auto 1rem auto;
  background: #f30;
}

.logo-description {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: #444;
}

.logo-icon {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3rem auto;
  width: 65%;
}

/** PAST SECTION  */
.past-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-title {
  color: #555;
  font-size: 2.2em;
  margin: 3rem auto 1rem auto;
  font-weight: 600;
  text-align: center;
}

.past-description {
  width: 70%;
  text-align: center;
  color: #444;
  margin: 0 0 2rem 0;
}

.past-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.past-container > img:hover {
  transform: scale(1.06);
}

/** PARTNERS SECTION  */
.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #444;
}

.partners-title {
  color: #aaa;
  font-weight: 900;
  font-size: 2.5em;
  margin: 1rem 0 0 0;
  font-family: 'cocogoose', sans-serif;
}

.partners-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-container > img:hover {
  background: #eee;
}

/** FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container > p {
  margin: 1rem 0;
  text-align: center;
}

/** FOOTER ABOUT */
.footer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-about > p {
  font-size: 1.2em;
  color: #555;
  text-align: center;
}

@media screen and (min-width: 375px) {
  /** HEADLINE */

  .headline {
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  /** HEADER */

  .mobile-menu-nav {
    display: none !important;
  }

  .open-menu-btn {
    display: none !important;
  }

  .first-nav {
    display: flex;
  }

  .second-nav {
    display: flex;
    background: #fff;
  }

  /** HEADLINE */

  .headline {
    justify-content: space-around;
    margin: 7rem 0 0 0;
  }

  .about-headline {
    justify-content: space-around;
    margin: 7rem 0 0 0;
  }

  .title1 {
    font-size: 1.2em;
  }

  .title2 {
    font-size: 2.9em;
  }

  .event-description {
    font-size: 1.3em;
  }

  .copyright {
    font-size: 1.3em;
    font-weight: 600;
  }

  /** MAIN WORK */
  .main-work-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .main-work-card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .last-card {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
  }

  /** PAST SECTION */
  .past-container > img {
    width: 30rem;
  }

  /** FEATURED SECTION  */
  .featured-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /** PARTNERS SECTION  */
  .partners-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .partners-container > img {
    height: 7rem;
  }

  .partners-container > img:nth-child(1) {
    width: 7rem;
  }

  /** FOOTER */
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /** FOOTER ABOUT  */
  .footer-about {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1024px) {
  /** MAIN WORK */

  .main-work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-work-card {
    width: 14rem;
  }

  .last-card {
    grid-column: span 1;
  }
}
